@{
    ViewBag.Title = "AppLab Systems consultancy";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Head Quaters-US              <br /><br />
    AppLab Systems, Inc          <br /><br />
    4041A Hadley Road            <br /><br />
    South Plainfield,NJ-07080
</address>


<h2> Customer Service Phone:  </h2>
<address>
    Phone No: 732-666-0069      <br /><br />
    Fax: 732-593-6959           <br /><br />
    <strong> Supporting & Marketing:</strong> <a href="mailto:info@applabsystems.com">info@applabsystems.com</a>
</address>