@{
    ViewBag.Title = "Home Page";
}

<div>
<h3> For More Information about Applabs please click after this<a target="_blank" href="http://www.applabsystems.com/index.php">  History of Applabs</a></h3>  
    </div>